{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Forgot Password - Pages{% endblock %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/css/pages/page-auth.css' %}" />
{% endblock page_css %}


{% block content %}
<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner py-4">

      <!-- Forgot Password -->
      <div class="card">
        <div class="card-body">
          <!-- Logo -->
          <div class="app-brand justify-content-center">
            <a href="{% url 'modules:index' %}" class="app-brand-link gap-2">
              <span class="app-brand-logo demo">
                {% include 'sneat/layout/partials/menu/vertical/logo.html' with width=25 %}
              </span>
              <span class="app-brand-text demo text-body fw-bold">{% get_theme_variables 'template_name' %}</span>
            </a>
          </div>
          <!-- /Logo -->
          <h4 class="mb-2">¿Has olvidado tu contraseña? 🔒</h4>
          <p class="mb-4">Ingresa tu correo electrónico y te enviaremos instrucciones para restablecer tu contraseña</p>
          <form id="formAuthentication" class="mb-3" action="{% url 'modules:index' %}">
            {% csrf_token %}
            <div class="mb-3">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input type="text" class="form-control" id="email" name="email"
                placeholder="Ingrese su correo electrónico" autofocus>
            </div>
            <button class="btn btn-primary d-grid w-100">Enviar enlace de reinicio</button>
          </form>
          <div class="text-center">
            <a href="{% url 'auth:login' %}" class="d-flex align-items-center justify-content-center">
              <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
              Volver para iniciar sesión
            </a>
          </div>
        </div>
      </div>
      <!-- /Forgot Password -->
    </div>
  </div>
</div>
{% endblock content %}