{% extends layout_path %}
{% load static %}

{% block title %}
{{ titlePage }}
{% endblock %}

{% block breadcrumbs %}
<span class="text-muted fw-light"><a href="../" class="text-muted fw-light">{{ module }}</a> /</span>
<span class="text-muted fw-light"><a href="{{ listUrl }}" class="text-muted fw-light">{{ submodule }}</a> /</span>
<span class="">{{ tag }}</span>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xl">
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">{{ titleForm }}</h5>
        <small class="text-muted float-end">{{ tag }}</small>
      </div>

      <div class="card-body">
        <form id="form" novalidate enctype="multipart/form-data">
          {% csrf_token %}

          {% for field in formu %}
          <div class="row mb-3">
            <label for="inputEmail3" class="col-2 col-md-4 col-sm-12 col-form-label">Nombre</label>
            <div class="col-10 col-md-8 col-sm-12 align-content-center">
              <input type="text" name="{{ form.name.html_name }}" value="{{ field.name }}">
              <div class="invalid-feedback"></div>
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputEmail3" class="col-2 col-md-4 col-sm-12 col-form-label">Apellido</label>
            <div class="col-10 col-md-8 col-sm-12 align-content-center">
              <input type="text" name="{{ form.apellido.html_name }}" value="{{ field.apellido }}">
              <div class="invalid-feedback"></div>
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputEmail3" class="col-2 col-md-4 col-sm-12 col-form-label">Cédula</label>
            <div class="col-10 col-md-8 col-sm-12 align-content-center">
              <input type="text" name="{{ form.cedula.html_name }}" value="{{ field.cedula }}">
              <div class="invalid-feedback"></div>
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputEmail3" class="col-2 col-md-4 col-sm-12 col-form-label">Dirección</label>
            <div class="col-10 col-md-8 col-sm-12 align-content-center">
              <input type="text" name="{{ form.direccion.html_name }}" value="{{ field.direccion }}">
              <div class="invalid-feedback"></div>
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputEmail3" class="col-2 col-md-4 col-sm-12 col-form-label">Tipo de Incidente</label>
            <div class="col-10 col-md-8 col-sm-12 align-content-center">
              <select name="{{ form.tipo.html_name }}">
                <option selected value="{{ field.tipo }}">{{ field.tipo }}</option>
                <option disabled value="">======================</option>
                <option value="Retiro - R">Retiro - R</option>
                <option value="Conflictos - C">Conflictos - C</option>
                <option value="Conflictos ajenos - CA">Conflictos ajenos - CA</option>
              </select>
              <div class="invalid-feedback"></div>
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputEmail3" class="col-2 col-md-4 col-sm-12 col-form-label">Descripción</label>
            <div class="col-10 col-md-8 col-sm-12 align-content-center">
              <select name="{{ form.descripcion.html_name }}">
                <option selected value="{{ field.descripcion }}">{{ field.descripcion }}</option>
                <option disabled value="">======================</option>
                <option value="Improvisto - R">Improvisto - R</option>
                <option value="Accidente familiar - R">Accidente familiar - R</option>
                <option value="Accidente laboral - R">Accidente laboral - R</option>
                <option value="Retiro por renuncia - R">Retiro por renuncia - R</option>
                <option value="Retiro por despido - R">Retiro por despido - R</option>
                <option value="Confrontamiento entre personal - C">Confrontamiento entre personal - C</option>
                <option value="Hurto o pérdida de bienes - C">Hurto o pérdida de propiedad personal - CA</option>
                <option value="Confrontamiento entre personal o natural - CA">Confrontamiento entre personal o natural - CA</option>
              </select>
              <div class="invalid-feedback"></div>
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputEmail3" class="col-2 col-md-4 col-sm-12 col-form-label">Fecha</label>
            <div class="col-10 col-md-8 col-sm-12 align-content-center">
              <input type="date" name="{{ form.fecha.html_name }}" value="{{ field.fecha|date:"Y-m-d" }}">
              <div class="invalid-feedback"></div>
            </div>
          </div>

         <div class="row mb-3">
            <label for="inputEmail3" class="col-2 col-md-4 col-sm-12 col-form-label">Hora</label>
            <div class="col-10 col-md-8 col-sm-12 align-content-center">
              <input type="time" name="{{ form.hora.html_name }}" value="{{ field.hora }}">
              <div class="invalid-feedback"></div>
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputEmail3" class="col-2 col-md-4 col-sm-12 col-form-label">Cargo</label>
            <div class="col-10 col-md-8 col-sm-12 align-content-center">
              <input type="text" name="{{ form.cargo.html_name }}" value="{{ field.cargo }}">
              <div class="invalid-feedback"></div>
            </div>
          </div>
          {% endfor %}
          
          <div class="d-flex gap-2 justify-content-end">
            <button type="submit" class="btn btn-primary">
              <i class="bx bx-save scaleX-n1-rtl bx-sm me-1"></i>
              Guardar
            </button>
            <a href="{{ listUrl }}" class="btn btn-danger">
              <i class="bx bx-arrow-back scaleX-n1-rtl bx-sm me-1"></i>
              Volver
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/ajax-setup.js' %}"></script>
<script src="{% static 'js/form.js' %}"></script>
<script>
  const url = '{{ urlForm }}'
  const method = '{{ methodForm }}'
  const submodule = '{{ submodule }}'

  $('form').on('submit', function (event) {
    event.preventDefault()

    let setup = {
      url: url,
      type: method,
      dataType: 'json'
    }

    if ($(this).find('input[type="file"]').length) {
      data = new FormData(this);
      setup = { ...setup, data, processData: false, contentType: false }
    } else {
      data = $(this).serializeArray()
      setup = { ...setup, data }
    }

    console.info({ data })
    console.info({ setup })
    console.info('FormData', new FormData(this))
    console.info('serializeArray', $(this).serializeArray())

    $.ajax(setup)
      .done(function (data) {
        if (data.hasOwnProperty('errors')) {
          toastError(submodule, 'Ha ocurrido un error..!')
          form_errors(data.errors)
          return false
        }

        $('form').trigger('reset')
        toastSuccess(submodule, data.message)
        document.getElementById('form').classList.remove('was-validated')
        setTimeout(() => (location.href = '{{ listUrl }}'), 2100)
      })
      .fail((jqXHR, textStatus, errorThrown) => console.error)
      .always(() => {
        Array.from(document.querySelectorAll('.form-control.is-invalid')).forEach((el) => el.classList.remove('is-invalid'))
      })
  })
</script>
{% endblock %}