{% extends layout_path %}
{% load static %}

{% block title %}
{{ titlePage }}
{% endblock %}

{% block breadcrumbs %}
<span class="text-muted fw-light"><a href="../" class="text-muted fw-light">{{ module }}</a> /</span>
<span class="text-muted fw-light"><a href="{{ listUrl }}" class="text-muted fw-light">{{ submodule }}</a> /</span>
<span class="">{{ tag }}</span>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xl">
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">{{ titleForm }}</h5>
        <small class="text-muted float-end">{{ tag }}</small>
      </div>

      <div class="card-body">
        <form id="form" novalidate enctype="multipart/form-data">
          {% csrf_token %}

          <div class="row mb-3">
            <label for="inputEmail3" class="col-2 col-md-4 col-sm-12 col-form-label">Nombre del Proyecto</label>
            <div class="col-10 col-md-8 col-sm-12 align-content-center">
              <input type="text" name="{{ form.nombrep.html_name }}">
              <div class="invalid-feedback"></div>
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputEmail3" class="col-2 col-md-4 col-sm-12 col-form-label">Fecha de Inicio</label>
            <div class="col-10 col-md-8 col-sm-12 align-content-center">
              <input type="date" name="{{ form.fechai.html_name }}">
              <div class="invalid-feedback"></div>
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputEmail3" class="col-2 col-md-4 col-sm-12 col-form-label">Fecha de Culminación</label>
            <div class="col-10 col-md-8 col-sm-12 align-content-center">
              <input type="date" name="{{ form.fechac.html_name }}">
              <div class="invalid-feedback"></div>
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputEmail3" class="col-2 col-md-4 col-sm-12 col-form-label">Situación Presupuestaria</label>
            <div class="col-10 col-md-8 col-sm-12 align-content-center">
              <input type="text" name="{{ form.situacionp.html_name }}">
              <div class="invalid-feedback"></div>
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputEmail3" class="col-2 col-md-4 col-sm-12 col-form-label">Monto Proyecto</label>
            <div class="col-10 col-md-8 col-sm-12 align-content-center">
              <input type="text" name="{{ form.montoproyecto.html_name }}">
              <div class="invalid-feedback"></div>
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputEmail3" class="col-2 col-md-4 col-sm-12 col-form-label">Responsable Gerente</label>
            <div class="col-10 col-md-8 col-sm-12 align-content-center">
              <input type="text" name="{{ form.responsableg.html_name }}">
              <div class="invalid-feedback"></div>
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputEmail3" class="col-2 col-md-4 col-sm-12 col-form-label">Responsable Técnico</label>
            <div class="col-10 col-md-8 col-sm-12 align-content-center">
              <input type="text" name="{{ form.responsablet.html_name }}">
              <div class="invalid-feedback"></div>
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputEmail3" class="col-2 col-md-4 col-sm-12 col-form-label">Responsable Registrador</label>
            <div class="col-10 col-md-8 col-sm-12 align-content-center">
              <input type="text" name="{{ form.responsabler.html_name }}">
              <div class="invalid-feedback"></div>
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputEmail3" class="col-2 col-md-4 col-sm-12 col-form-label">Responsable Administrativo</label>
            <div class="col-10 col-md-8 col-sm-12 align-content-center">
              <input type="text" name="{{ form.responsablea.html_name }}">
              <div class="invalid-feedback"></div>
            </div>
          </div>

          <div class="row mb-3">
            <label for="inputEmail3" class="col-2 col-md-4 col-sm-12 col-form-label">Estatus del Proyecto</label>
            <div class="col-10 col-md-8 col-sm-12 align-content-center">
              <select name="{{ form.estatus.html_name }}">
                <option selected disabled value="">Seleccione una opción</option>
                <option value="Aprobado">Aprobado</option>
                <option value="Negado">Negado</option>
                <option value="En Proceso">En Proceso</option>
              </select>
              <div class="invalid-feedback"></div>
            </div>
          </div>

          <div class="d-flex gap-2 justify-content-end">
            <button type="submit" class="btn btn-primary">
              <i class="bx bx-save scaleX-n1-rtl bx-sm me-1"></i>
              Guardar
            </button>
            <a href="{{ listUrl }}" class="btn btn-danger">
              <i class="bx bx-arrow-back scaleX-n1-rtl bx-sm me-1"></i>
              Volver
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/ajax-setup.js' %}"></script>
<script src="{% static 'js/form.js' %}"></script>
<script>
  const url = '{{ urlForm }}'
  const method = '{{ methodForm }}'
  const submodule = '{{ submodule }}'

  $('form').on('submit', function (event) {
    event.preventDefault()

    let setup = {
      url: url,
      type: method,
      dataType: 'json'
    }

    if ($(this).find('input[type="file"]').length) {
      data = new FormData(this);
      setup = { ...setup, data, processData: false, contentType: false }
    } else {
      data = $(this).serializeArray()
      setup = { ...setup, data }
    }

    console.info({ data })
    console.info({ setup })
    console.info('FormData', new FormData(this))
    console.info('serializeArray', $(this).serializeArray())

    $.ajax(setup)
      .done(function (data) {
        if (data.hasOwnProperty('errors')) {
          toastError(submodule, 'Ha ocurrido un error..!')
          form_errors(data.errors)
          return false
        }

        $('form').trigger('reset')
        toastSuccess(submodule, data.message)
        document.getElementById('form').classList.remove('was-validated')
        setTimeout(() => (location.href = '{{ listUrl }}'), 2100)
      })
      .fail((jqXHR, textStatus, errorThrown) => console.error)
      .always(() => {
        Array.from(document.querySelectorAll('.form-control.is-invalid')).forEach((el) => el.classList.remove('is-invalid'))
      })
  })
</script>
{% endblock %}