{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<style>
    @page {
        size: A4 landscape;
        margin: 0;
    }
</style>

<head>
    <div>
        <img src="{% static 'img/cintillo.png' %}" style="width: 1123px; height: 40px; position: absolute;">
    </div>
</head>
<br>
<!-- ===================== Tablas ====================  -->
<div class="tabular--wrapper" style="margin-top: 105px;">
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre de la dirección</th>
                    <th>Presupuesto asignado</th>
                    <th>Objetivo general anual</th>
                    <th>Número de partida</th>
                </tr>
            <tbody>
                {% for archivo in asignacionn %}
                <tr>
                    <td>{{ archivo.id }}</td>
                    <td>{{ archivo.nombredir }}</td>
                    <td>{{ archivo.presuasig }}</td>
                    <td>{{ archivo.objeanual }}</td>
                    <td>{{ archivo.numpartida }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </thead>
        </table>
    </div>
</div>