{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<style>
    @page {
        size: A4 landscape;
        margin: 0;
    }
</style>

<head>
    <div>
        <img src="{% static 'img/cintillo.png' %}" style="width: 1123px; height: 40px; position: absolute;">
    </div>
</head>
<br>
<!-- ===================== Tablas ====================  -->
<div class="tabular--wrapper" style="margin-top: 105px;">
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Partida</th>
                    <th>General</th>
                    <th>Específicaciones</th>
                    <th>Sub-Especialidad</th>
                    <th>Denomincación</th>
                    <th>Presupuesto acordado</th>
                    <th>Causado a la fecha</th>
                    <th>Disponible a causar</th>
                    <th>Monto a ceder</th>
                    <th>Saldo final</th>
                    <th>Dirección cedente</th>
                </tr>
            <tbody>
                {% for archivo in cedentee %}
                <tr>
                    <td>{{ archivo.idc }}</td>
                    <td>{{ archivo.partidac }}</td>
                    <td>{{ archivo.generalc }}</td>
                    <td>{{ archivo.espefc }}</td>
                    <td>{{ archivo.subespefc }}</td>
                    <td>{{ archivo.denomc }}</td>
                    <td>{{ archivo.presuacorc }}</td>
                    <td>{{ archivo.caufechac }}</td>
                    <td>{{ archivo.dispc }}</td>
                    <td>{{ archivo.montocc }}</td>
                    <td>{{ archivo.saldofc }}</td>
                    <td>{{ archivo.direccionc }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </thead>
        </table>
    </div>
</div>