{% extends layout_path %}

{% load static %}

{% block title %}{{ titlePage }}{% endblock %}

{% block breadcrumbs %}
<span class="">{{ module }}</span>
{% endblock %}

{% block content %}
<div class="d-flex flex-wrap gap-3 mb-3 w-100 justify-content-between">
  {% for card in cards %}
  <div class="col-12 col-sm-5">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div class="card-title mb-0">
          <h5 class="mb-1 me-2">{{ card.title }}</h5>
          {% comment %} <p class="card-subtitle">Informes</p> {% endcomment %}
        </div>
        <div class="dropdown">
          <button class="btn text-muted p-0" type="button" id="orederStatistics" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="bx bx-dots-vertical-rounded bx-lg"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics">
            <a class="dropdown-item" href="{{ card.href }}">Ver mas</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <ul class="p-0 m-0">
          <li class="d-flex align-items-center">
            <div class="avatar flex-shrink-0 me-3">
              <span class="avatar-initial rounded bg-label-primary"><i class='bx bx-mobile-alt'></i></span>
            </div>
            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
              <div class="me-2">
                <h6 class="mb-0">{{ card.subtitle }}</h6>
                <small>{{ card.info }}</small>
              </div>
              <div class="user-progress">
                <h6 class="mb-0">{{ card.detail }}</h6>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="card">
  <div class="card-body">
    <div class="table-responsive text-nowrap">
      <table id="data-table" class="table table-striped">
        <thead>
          <tr>
            {% block thead %}
            {% for column in heads %}
            <th>{{ column.title }}</th>
            {% endfor %}
            {% endblock %}
          </tr>
        </thead>
        <tbody class="table-border-bottom-0"></tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block vendor_css %}
<link rel="stylesheet" href="{% static 'vendor/libs/data-tables/css/dataTables.bootstrap5.css' %}">
{% endblock %}

{% block vendor_js %}
<script src="{% static 'vendor/libs/data-tables/js/dataTables.js' %}"></script>
<script src="{% static 'vendor/libs/data-tables/js/dataTables.bootstrap5.js' %}"></script>
{% endblock %}

{% block page_js %}
<script src="{% static 'js/data-table.js' %}"></script>
<script>
  $(document).ready(function () {
    const url = "{{ listApiUrl }}"
    const columns = {{ columns| safe
  }}
    setTBody({ url, columns });
});
</script>
{% endblock %}