{% extends layout_path %}

{% load static %}

{% block title %}{{ titlePage }}{% endblock %}

{% block breadcrumbs %}
<span class="">{{ module }}</span>
{% endblock %}

{% block content %}
<div class="d-flex flex-wrap gap-4 mb-3 w-100 justify-content-start">
  <div class="col-3">
    <div class="card">
      <div class="card-header d-flex justify-content-start">
        <div class="card-title mb-0">
          <h5 class="mb-1 me-2"><a href="llamadas/">Llamadas</a></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-header d-flex justify-content-start">
        <div class="card-title mb-0">
          <h5 class="mb-1 me-2"><a href="infraestructuras/">Infraestructura</a></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-header d-flex justify-content-start">
        <div class="card-title mb-0">
          <h5 class="mb-1 me-2"><a href="actividades/">Actividades</a></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-header d-flex justify-content-start">
        <div class="card-title mb-0">
          <h5 class="mb-1 me-2"><a href="objetivos/">Objetivos</a></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-header d-flex justify-content-start">
        <div class="card-title mb-0">
          <h5 class="mb-1 me-2"><a href="transportes/">Transporte</a></h5>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block vendor_css %}
<link rel="stylesheet" href="{% static 'vendor/libs/data-tables/css/dataTables.bootstrap5.css' %}">
{% endblock %}

{% block vendor_js %}
<script src="{% static 'vendor/libs/data-tables/js/dataTables.js' %}"></script>
<script src="{% static 'vendor/libs/data-tables/js/dataTables.bootstrap5.js' %}"></script>
{% endblock %}

{% block page_js %}
<script src="{% static 'js/data-table.js' %}"></script>
<script>
  $(document).ready(function () {
    const url = "{{ listApiUrl }}"
    const columns = {{ columns| safe
  }}
    setTBody({ url, columns });
});
</script>
{% endblock %}