{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<style>
    @page {
        size: A4 landscape;
        margin: 0;
    }
</style>
<!-- =============== PDF ================ -->

<head>
    <div>
        <img src="{% static 'img/cintillo.png' %}" style="width: 1123px; height: 40px; position: absolute;">
    </div>
</head>
<br>
<div class="tabular--wrapper" style="margin-top: 105px;">
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Inicio</th>
                    <th>Culminación</th>
                    <th>Situación Presupuestaria</th>
                    <th>Monto Total del Proyecto</th>
                    <th>Gerente Responsable</th>
                    <th>Técnico Responsable</th>
                    <th>Registrador Responsable</th>
                    <th>Responsable Administrativo</th>
                </tr>
            <tbody>
                {% for archivo in Proyectoo %}
                <tr>
                    <td>{{ archivo.id }}</td>
                    <td>{{ archivo.nombrep }}</td>
                    <td>{{ archivo.fechai }}</td>
                    <td>{{ archivo.fechac }}</td>
                    <td>{{ archivo.situacionp }}</td>
                    <td>{{ archivo.montoproyecto }}</td>
                    <td>{{ archivo.responsableg }}</td>
                    <td>{{ archivo.responsablet }}</td>
                    <td>{{ archivo.responsabler }}</td>
                    <td>{{ archivo.responsablea }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </thead>
        </table>
    </div>
</div>